html{
  background-color: #F8EDEB;
}

/* NAVBAR CSS */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  top: 0;
  z-index: 1000;
}

.logo{
  height: 50px;
  margin-left: 10%;
}

.links-box{
  display: flex;
  width: 20%;
  justify-content: space-evenly;
  margin-right: 10%;
}

.links{
  padding: 5px;
  font-size: 20px;
}

/* MAIN PAGE CSS */
.work{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.container{
  width: 50%;
}

.hello {
  display: inline;
  font-size: 45px;
  margin-bottom: 10px;
}

.text {
  font-size: 20px;
  margin-bottom: 10px; 
}


.me{
  height: 450px;
}

.work1{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.ratiemate-container{
  height: 80vh;
  width: 80%;
  background-color: #FFD7BA;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
}


.landing-r{
  border: solid;
}