@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Gruppo&family=Ojuju:wght@200..800&family=Pacifico&display=swap');

html{
  background-color: #F9F6EE;
}

/* NAVBAR CSS */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  top: 0;
  z-index: 1000;
}

.logo {
  height: 50px;
  margin-left: 10%;
}

.links-box {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
  margin-right: 10%;
}

.links {
  padding: 5px;
  font-size: 20px;
  color: black;
  font-family: "Gruppo", sans-serif;
  font-weight: 600;
}

.linkto-w, .linkto-a, .linkto-c {
  text-decoration: none;
}

.linkto-w.active-link p,
.linkto-a.active-link p,
.linkto-c.active-link p{
  border: solid #FEC5BB;
}

/* FOOTER CONTAINER */
.footer-container{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-name{
  margin-left: 5%;
  font-family: "Gruppo", sans-serif;
  font-size: large;
}

.socials{
  display: flex;
  margin-right: 5%;
  font-family: "Gruppo", sans-serif;
}

.linkedin-a, .github-a{
  text-decoration: none;
  color: black;
}

.linkedin-a:hover, .github-a:hover{
  font-weight: 700;
}

.linkedin, .github{
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: large;
}

/* MAIN PAGE CSS */
.work{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.container{
  width: 50%;
}

.hello {
  display: inline;
  font-size: 45px;
  margin-bottom: 10px;
  font-family: "Pacifico", cursive;
  color: #B3C6B9;
}

.text {
  font-size: 20px;
  margin-bottom: 10px; 
  font-family: "Gruppo", sans-serif;
  font-weight: 600;
  width: 80%;
  letter-spacing: 2px;
}

.me{
  height: 450px;
}

.work1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratiemate-container{
  margin-top: 5%;
  height: 80vh;
  width: 75%;
  background-color: #FFD7BA;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  margin-bottom: 5%;
}

.work2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookbook-container{
  margin-top: 5%;
  height: 80vh;
  width: 75%;
  background-color: #FCD5CE;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  margin-bottom: 5%;
}

/* ABOUT ME CSS */
.about-me{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
  flex-wrap: wrap-reverse;
}

.about-textbox{
  width: 45%;
}

.text1{
  font-family: "Gruppo", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.about-img{
  height: 500px;
}

.skills-title{
  display: flex;
  font-size: 45px;
  margin-bottom: 10px;
  font-family: "Pacifico", cursive;
  color: #B3C6B9;
  justify-content: center;
  margin-top: 10px;
}

.skill-box{
  display: flex;
  justify-content: center;
}

.skills-logo{
  height: 60px;
  padding: 10px;
}

.test-title{
  display: flex;
  font-size: 45px;
  margin-bottom: 10px;
  font-family: "Pacifico", cursive;
  color: #B3C6B9;
  justify-content: center;
}

.testimonials {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  height: 250px;
  overflow: scroll;
}

.test1,
.test2 {
  position: absolute;
  font-size: 20px;
  letter-spacing: 2px;
  width: 60%;
  padding: 20px;
}

.test1, .test-name{
  background-color: #D8E2DC;
}

.test2, .test-name1{
  background-color: #FFE5D9;
}

.test-name, .test-name1{
  position: absolute;
  top: 12px;
  padding: 5px;
}

.bottom-buttons{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.button, #submit{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: "Gruppo", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #FCD5CE;
  margin-left: 10px;
  margin-right: 10px;
}

.button:hover, #submit:hover{
  background-color: transparent;
  border: solid #FCD5CE;
}

/* CONTACT ME CSS */
.contact-container{
  height: 80vh;
}

.hello-box{
  padding-top: 35px;
}

.contact-hello{
  display: inline;
  margin-left: 15%;
  font-size: 45px;
  margin-bottom: 10px;
  font-family: "Pacifico", cursive;
  color: #B3C6B9;
}

.contact-intro{
  display: inline;
  margin-left: 15%;
  font-family: "Gruppo", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.form-container{
  margin-top: 40px;
}

form{
  width: 70%;
  margin: auto;
}

.label-name, .label-email, .label-message{
  font-family: "Gruppo", sans-serif;
  font-size: 30px;
  padding: 5px;
}

.input-name{
  display: flex;
  justify-content: space-between;
}

#input-first, #input-last, #input-email{
  height: 30px;
  width: 48%;
}

.form-email{
  margin-top: 20px;
}

#input-email{
  width: 100%;
}

.form-message{
  margin-top: 20px;
}

#input-message{
  height: 140px;
  width: 100%;
}

.submit-button{
  display: flex;
  justify-content: center;
}

#submit{
  border: transparent;
  margin-top: 20px;
}